html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
.headerBackground {
  background: linear-gradient(25deg, rgba(238, 174, 202, 0.8534007352941176) 13%, rgba(148, 187, 233, 0.8477984943977591) 53%);
}
.contactBtn {
  background:rgb(148, 187, 233);
}
.form-group {
  padding-bottom: 15px;
}

/*
 * Globals
 */
/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}
.btn:hover {
  color: #333;
  background:rgba(148, 187, 233, 0.8477984943977591);
}
/*
 * Base structure
 */
body {
  background: #fff;
}
.cover-container {
  max-width: 42em;
}

/*
 * Header
 */
.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
